PORT=8080
HOST=0.0.0.0

BYBIT_REST_URL=https://api.bybit.com
BYBIT_DEMO_REST_URL=https://api-demo.bybit.com
BYBIT_DEMO_API_KEY=
BYBIT_DEMO_API_SECRET=
BYBIT_RECV_WINDOW=5000

COINGLASS_API_KEY=
COINGLASS_BASE_URL=https://open-api-v3.coinglass.com
COINGLASS_ENABLED=0

DEBUG_DATASET_TF=
DEBUG_OPT_TRADES=
DEBUG_OPT_MARKETDATA=
